<div style="position: fixed; top: 69px; left: 0; display: flex; flex-direction: column; padding: 0 5px; border: 1px solid black; border-radius: 3px;">
  <a class="twitter-share-button icon fa-twitter" href="https://twitter.com/intent/tweet?text=<%- page.permalink %>"
    data-size="large" target="_blank" rel="noreferrer noopener">
  </a>
  <a class="icon fa-linkedin"
    href="http://www.linkedin.com/shareArticle?mini=true&url=<%- page.permalink %>&title=<%- page.title %>"
    data-size="large" target="_blank" rel="noreferrer noopener">
  </a>
  <a class="icon fa-facebook" target="_blank" rel="noopener noreferrer"
    href="https://www.facebook.com/sharer/sharer.php?u=<%- page.title %>">
  </a>
</div>