<div class="share">
  <h4 class="share-title">Share this article</h4>
  <a class="icon style2 fa-twitter" href="https://twitter.com/intent/tweet?text=<%- page.permalink %>" target="_blank"
    rel="noreferrer noopener"></a>
  <a class="icon style2 fa-linkedin"
    href="http://www.linkedin.com/shareArticle?mini=true&url=<%- page.permalink %>&title=<%- page.title %>"
    target="_blank" rel="noreferrer noopener"></a>
  <a class="icon style2 fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>"
    target="_blank" rel="noopener noreferrer"></a>
</div>
